/* Mobile Style Sheet */
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Bree Serif', Georgia, serif;
    color: #1e3360; 
}

h1 {
    font-size: 45px;
}

p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #1e3360; 
    font-size: 16px;
}

header {
    margin-bottom: 45px;
}

a {
    font-family: 'Bree Serif', Georgia, serif;
    text-decoration: none;
}

a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

footer {
    height: 131px;
    background-color: #ffc257;
}

#welcome_section {
    width: 100%;
}

button:focus {
    outline:0;
}

.beige-background:before {
    content: "";
    position: absolute;
    height: 423px;
    background-color: #f8f7f5;
    z-index: -1;
    width: 100%;
    margin-top: 23px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 15px;
    margin-top: 15px;
}

.logo {
    height: 67.5px;
    width: 59px;
}

.navigation-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul.navigation-items {
    padding-left: 0;
}

.navigation-items li {
    font-size: 14px;
    color: #1e3360;
    padding: 0 10px 0 10px;
}

.navigation-items li:visited {
    background-color: #fff;
    color: #1e3360;
    cursor: pointer;
}

.navigation-items li:hover {
    color:  #ffc257;
    cursor: pointer;
}

.amp-position {
    position: absolute;
    left: 25%;
    top: 33%;
    color:  #ffc257;
    font-size: 63px;
}

.text-center {
    display: block;
    margin: 0 auto;
    width: 20%;
    line-height: .9;
}

.address-center {
    display: block;
    margin: 0 auto;
    width: 240px;
}

address a {
    display: block;
}

.top-text {
    line-height: .9;
    padding-left: 15px; 
}

.work-button {
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    background-color: #ffc257;
    color: #1e3360;
    border-radius: 12px;
    font-size: 22px;
    margin-bottom: 65px;
    border: none;
}

.about-button {
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    background-color: #ffc257;
    color: #1e3360;
    border-radius: 12px;
    font-size: 22px;
    margin-bottom: 50px;
    border: none;
}

.back-top-button {
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 30px;
    background-color: #ffc257;
    color: #1e3360;
    border-radius: 12px;
    font-size: 15px;
    margin: 10px 0 40px 0;
    border: none;
    float: left;
}

.work-button:visited, .back-top-button:visited, .about-button:visited {
    background-color:#ffc257;
    color: #fff;
    cursor: pointer;
}

.work-button:hover, .back-top-button:hover, .about-button:hover {
    background-color:  #1e3360;
    color: #fff;
    cursor: pointer;
}

.favicon-horizontal a{
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}

.linkedin-icon {
    background: url(assets/linkedin.svg) no-repeat center;
    height: 35px;
    width: 35px;
}

.github-icon {
    background: url(assets/github.svg) no-repeat center;
    height: 35px;
    width: 35px;
}

.email-icon {
    background: url(assets/email.svg) no-repeat center;
    height: 35px;
    width: 35px;
}

.brandon-photo {
    width: 85%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 7px;
}

.hotkey-photo {
    width: 85%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 7px;
}

.center-h1 {
    text-align: center;
}

.paragraph-center {
    display: block;
    margin: 0 auto;
    width: 86%;
}

.paragraph-text {
    line-height: 1.6;
    padding-top: 15px;
}
.second-paragraph-text {
    padding-top: 0;
    line-height: 1.6;
    margin-top: -13px;
}

.down-space {
    margin-top: 40px;
}

.tighten-title-space {
    margin-bottom: 9px;
}

.job-title {
    margin-top: 30px;
    margin-bottom: 0;
}

.city-title {
    margin-top: 2px;
}

.job-title, .city-title {
    font-family: 'Bree Serif', Georgia, serif;
}

.email {
    color: #1e3360;
    margin-bottom: 20px;
    font-size: 16px;
}

.email:hover {
    color:  #ffc257; 
}

.footer-copyright {
    text-align: center;
}

.favicon-footer a{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.center-icons {
    text-align: center;
}

.footer-copyright {
    font-size: 11px;
    margin-bottom: 12px;
}

.social-media-text {
    font-family: 'Bree Serif', Georgia, serif;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.project-title {
    text-align: center;
}

.more-space {
    margin-top: 80px;
}

.fab {
    font-size: 40px;
    color: #1e3360;
    margin-right: 10px;
}

.jquery {
    height: 35px;
    width: 35px;
}

.stack-programs {
    padding-bottom: 5px;
}

.github-repo-link {
    background: url(assets/github.svg) no-repeat center;
    height: 35px;
    width: 35px;
}

.github-links {
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 38px;
}

.github-text:link {
    color: #1e3360;
    margin-left: 14px;
    font-size: 18px; 
}

.github-text:visited {
    color: #1e3360;
}

.github-text:hover {
    color: #ffc257; 
}

.border-pi {
    border: 1px solid #ffc257;
}

/* Tablet Media Query */
@media (min-width: 481px) and (max-width: 768px) {

    .navigation {
        padding: 0 20px 0 40px;
        margin-top: 30px;
    }

    .navigation-items li {
        font-size: 16px;
        padding: 0 15px 0 15px;
    }

    .top-text {
        padding-left: 16%;
    }

    .amp-position {
        left: 34.5%;
        top: 35%;
    }

    .address-center {
        width: 38%;
    }

    .paragraph-center {
        width: 80%;
    }

    .text-center {
        width: 15%;
    }

    .paragraph-text {
        line-height: 1.7;
    }
}

/* Small Desktop Media Query */
@media (min-width: 769px) and (max-width: 1260px) {
    
    header {
        margin-bottom: 80px;
    }

    p {
        font-size: 17px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 20px;
    }

    .navigation {
        padding: 0 40px 0 60px;
        margin-top: 40px;
    }

    .navigation-items li {
        font-size: 18px;
        padding: 0 20px 0 20px;
    }

    .top-text {
        padding-left: 24%;
    }

    .text-center {
        width: 10%;
    }

    .amp-position {
        left: 39%;
        top: 39.5%;
        font-size: 70px;
    }

    .hotkey-photo {
        max-width: 600px;
    }

    .brandon-photo {
        max-width: 575px;
    }

    .address-center {
        width: 29%;
    }

    .paragraph-text {
        line-height: 1.7;
    }

    .paragraph-center {
        width: 70%;
    }
}

/* Large Desktop Media Query */
@media (min-width: 1261px) and (max-width: 2000px) {

    p {
        font-size: 17px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 22px;
    }

    .navigation {
        padding: 0 50px 0 70px;
        margin-top: 45px;
    }

    .navigation-items li {
        font-size: 19px;
        padding: 0 20px 0 20px;
    }

    .top-text {
        padding-left: 30%;

    }

    .text-center {
        width: 9%;
    }

    .amp-position {
        left: 41%;
        top: 36%;
        font-size: 70px;
    }

    .brandon-photo {
        max-width: 650px;
    }

    .hotkey-photo {
        max-width: 700px;
    }

    .address-center {
        width: 26%;
    }

    .paragraph-center {
        width: 60%;
    }

    .paragraph-text {
        line-height: 1.8;
    }

    /*.back-top-button {
        width: 120px;
        height: 40px;
        font-size: 17px;
    }*/


}    